<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>
	<div th:replace="admin/layout :: header"></div>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Tạo nhà xe</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<script>
			checkNhaXe = function(value) {
				$.ajax({
					type : "GET",
					url : "/user/coachName/" + value,
					success : function(data) {
						if (data.validated) {
							$("#username-valid-feedback").show();
						} else {
							$("#username-valid-feedback").hide();
						}
					}
				})
			}
			</script>
			<!-- /.row -->
			<div class="row">
				<form th:action="@{/admin/user/addCoach}" th:object="${coachForm}"
					method="post" id="addCoachForm">
					<div class="form-group">
						<label for="username">Tên nhà xe</label> <input
							th:field="*{tenNhaXe}" name="tenNhaXe" type="text"
							class="form-control" onblur="checkNhaXe(this.value)"
							id="username" aria-describedby="basic-username"
							placeholder="Tên nhà xe">
						<div class="valid-feedback" style="color: red"
							id="username-valid-feedback" hidden="true">Nhà xe đã tồn
							tại đã tồn tại!</div>
					</div>
					<div class="form-group">
						<label for="password">Địa chỉ</label> <input th:field="*{diaChi}"
							name="matKhau" type="text" class="form-control" id="password"
							placeholder="Mật Khẩu">
					</div>
					<div class="form-group">
						<label for="sdt">Số điện thoại</label> <input th:field="*{sdt}"
							type="text" name="sdt" class="form-control" id="sdt"
							placeholder="Số điện thoại">
					</div>
					<div class="form-group" style="text-align: center;">
						<button type="submit" class="btn btn-primary">Tạo</button>
					</div>

				</form>
			</div>
			<!-- /.row -->
		</div>
	</div>
	<script>
		$("form").submit(function(e) {
			var form = "#addCoachForm";
			$.ajax({
				type : $(form).attr('method'),
				url : $(form).attr('action'),
				data : $(form).serialize(),
				success : function(res) {
					if (res) {
						alert("Tạo nhà xe thành công");
					} else {
						alert("Tạo nhà xe lỗi");
					}
				}
			});
			e.preventDefault(e);
			document.getElementById("addCoachForm").reset();
		});
	</script>
</body>
</html>


