<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/layout :: homehead"></head>
<body>
	<!--header-->
	<div class="header" th:replace="home/layout :: homeheader"></div>
	<!--//header-->
	<!-- banner-bottom -->
	<div class="banner-bottom" th:object="${chuyenXe}">
		<!-- container -->
		<div class="container">
			<div class="faqs-top-grids">
				<!--single-page-->
				<div class="single-page">
					<div class="col-md-8 single-gd-lt">
						<div class="single-pg-hdr">
							<h2>
								<b th:text="${chuyenXe.gaDi}"></b> - <b
									th:text="${chuyenXe.gaDen}"></b>
							</h2>
							<p>
								Nhà xe<a href="@"><b th:text="${chuyenXe.nhaXe.tenNhaXe}"></b></a>
							</p>
						</div>
						<div class="row">
							<div class="border-note">
								<h2 class="text-center title-road-backlink mb0">Thông tin
									chuyến xe</h2>
								<ul class="list-detail-route">
									<li>
										<p class="col-md-6 col-sm-6 text-left">Tuyến đường :</p>
										<p class="col-md-6 text-right">
											<b th:text="${chuyenXe.gaDi}"></b> - <b
												th:text="${chuyenXe.gaDen}"></b>
										</p>
									</li>
									<li>
										<p class="col-md-6 col-sm-6 text-left">Nhà Xe :</p>
										<p class="col-md-6 text-right">
											<a href="@"><b
												th:text="${chuyenXe.getNhaXe().getTenNhaXe()}"></b></a>
										</p>
									</li>
									<li>
										<p class="col-md-6 col-sm-6 text-left">Giá vé :</p>
										<p class="col-md-6 text-right">
											<b id="gia" th:text="${chuyenXe.gia}"> VNĐ</b>
										</p>
									</li>
									<li>
										<p class="col-md-6 col-sm-6 text-left">Ngày đi :</p>
										<p class="col-md-6 text-right">
											<b th:text="${chuyenXe.ngayDi}"></b>
										</p>
									</li>
									<li>
										<p class="col-md-6 col-sm-6 text-left">Đã đặt / Tổng số :</p>
										<p class="col-md-6 text-right">
											<b><b th:text="${soCho}" id="dd"></b>/<b
												th:text="${chuyenXe.soNguoi}" id="tt"></b> ghế</b>
										</p>
									</li>
									<li>
										<p class="col-md-6 col-sm-6 text-left">Mô tả :</p>
										<p class="col-md-6 text-right">
											<b th:text="${chuyenXe.moTa}"></b>
										</p>
									</li>
									<li style="border: 0">
										<p class="col-md-6 col-sm-6 text-left">Giờ đi :</p>
										<p class="col-md-6 text-right">
											<b th:text="${chuyenXe.gioDi}"></b>
										</p>
									</li>
								</ul>
								<div class="price-road-backlink border-line-detail"></div>
							</div>
						</div>

					</div>
					<div class="col-md-4 single-gd-rt">
						<div class="spl-btn">
							<div class="spl-btn-bor">
								<p>Thông tin khách hàng</p>
							</div>
							<form th:action="@{/datve}" th:object="${ve}" method="POST"
								id="ttkh">
								<div class="sp-bor-btn text-right">
									<div class="detail-customer-info">
										<div class="form-group CustomerFullName">
											<div class="col-md-12 col-sm-12 pl0 pr0">
												<input type="hidden" th:field="*{id}" /> <input
													type="hidden" th:object="${chuyenXe}" th:field="*{id_CX}" />
												<label
													class="col-md-12 pl0 pr0 col-sm-3 control-label text-left hidden-xs">Họ
													tên <span style="color: red;">*</span>:
												</label> <input id="cfn" name="CustomerFullName" type="text"
													th:field="*{tenKH}" class="form-control input-vxr"
													placeholder="Họ tên" data-toggle="popover"
													data-content="Họ tên không hợp lệ" data-placement="top">

											</div>
										</div>
										<div class="col-md-12 col-sm-12 pl0 pr0">
											<label
												class="col-md-8 pl0 pr0 control-label text-left hidden-xs">Số
												điện thoại <span style="color: red;">*</span>:
											</label> <input th:field="*{sdt}" id="cp" name="CustomerPhone"
												type="tel" class="form-control input-vxr"
												placeholder="Nhập số điện thoại" data-toggle="popover"
												data-content="Vui lòng nhập đúng định dạng (VD: 0912345678)"
												data-placement="left"
												onkeypress="return isNumberByEventCode(event)">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 col-sm-12 pl0 pr0">
											<label for="inputEmail3"
												class="col-md-12 pl0 pr0 col-sm-3 control-label text-left hidden-xs">Chứng
												minh nhân dân <span style="color: red;">*</span>:
											</label> <input th:field="*{cnmd}" id="ce" name="CustomerEmail"
												type="text" class="form-control input-vxr"
												placeholder="Chứng minh nhân dân" data-placement="left">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 col-sm-12 pl0 pr0">
											<label for="inputEmail3"
												class="col-md-12 pl0 pr0 col-sm-3 control-label text-left hidden-xs">Số
												người <span style="color: red;">*</span>:
											</label> <input id="ce" name="CustomerNumber" type="text"
												th:field="*{soCho}" id="cn" onchange="tt()" value="0"
												class="form-control input-vxr" placeholder="Số người"
												data-toggle="popover" data-content="Email không hợp lệ"
												data-placement="right"> <b id="thongbao"></b>
											<script>
												function tt() {
													var dd = document
															.getElementById("dd").innerText;
													var tt = document
															.getElementById("tt").innerText;
													var x = document
															.getElementById("cn").value;
													if (x > (parseInt(tt) - parseInt(dd))) {
														document
																.getElementById("thongbao").innerHTML = "Số chỗ vượt quá chỗ còn trống";
													} else if (x == 0) {
														document
																.getElementById("thongbao").innerHTML = "Hãy nhập số chỗ";
														$("#tongtien").val(0);
													} else {
														var d = document
																.getElementById("gia").innerText;
														var t = parseInt(x)
																* parseInt(d);
														document
																.getElementById("tongtien").innerHTML = t
																+ " VND" + dd;
														$("#tongtien").val(t);
														document
																.getElementById("thongbao").innerHTML = "";

													}
												}
											</script>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 col-sm-12 pl0 pr0">
											<label for="inputnote3"
												class="col-md-12 pl0 pr0 col-sm-3 control-label text-left hidden-xs">Ghi
												Chú:</label>
											<textarea id="note" name="note" th:field="*{ghiChu}"
												class="form-control input-vxr"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 col-sm-12 pl0 pr0">
											<label for="inputnote3"
												class="col-md-12 pl0  col-sm-3 control-label text-left hidden-xs"
												style="width: 150px">Thành tiền:</label> <input
												id="tongtien" class="pull-left" style="width: 80%;"
												th:field="*{gia}" readonly="readonly" value="" /><span
												class="pull-right" style="padding-top: 10px;"
												data-placement="right">VND</span>
										</div>
									</div>
									<div>
										<script type="text/javascript">
											$(document)
													.ready(
															function() {

																//Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
																$("#ttkh")
																		.validate(
																				{
																					rules : {
																						tenKH : "required",
																						soCho : {
																							required : true,
																							number : true
																						},
																						sdt : {
																							required : true,
																							number : true,
																							minlength : 10,
																							maxlength : 10
																						},
																						cnmd : {
																							required : true,
																							number : true,
																							minlength : 9,
																							maxlength : 9
																						}

																					},
																					messages : {
																						tenKH : "Vui lòng nhập họ",
																						soCho : {
																							required : "Vui lòng nhập số chỗ",
																							number : "Phải nhập số"
																						},
																						sdt : {
																							required : "Vui lòng nhập số điện thoại",
																							minlength : "Số điện thoại phải là 10 số",
																							maxlength : "Số điện thoại phải là 10 số",
																							number : "Phải nhập số"
																						},
																						cnmd : {
																							required : "Vui lòng nhập cmnd",
																							minlength : "Số cmnd phải là 9 số",
																							maxlength : "Số cmnd phải là 9 số",
																							number : "Phải nhập số"
																						}
																					}
																				});
															});
										</script>
									</div>
									<div class="form-group">
										<button type="submit"
											class="cont-btn btn btn-vxr-lg btn-vxr-lg-action">
											Tiếp tục <i class="glyphicon glyphicon-chevron-right f14"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!--//single-page-->
		</div>
		<div class="c-rooms">
			<div>
				<h2 class="text-left mb0">Các chuyến xe cùng tuyến</h2>
			</div>
			<div class="p-table">
				<ul class="list-detail-route">
					<li>
						<p class="col-md-2 col-sm-2 text-center">
							<b>Nhà xe</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b>Ngày đi</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b>Giờ đi</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b>Giá vé</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center"></p>
						<p class="col-md-2 col-sm-2 text-center">
							<b>Đặt vé</b>
						</p>
					</li>
					<li th:each="chuyenXe,iterStat : ${chuyenxecungtuyen} ">
						<p class="col-md-2 col-sm-2 text-center">
							<a href="$"><b th:text="${chuyenXe.nhaXe.tenNhaXe}"></b></a>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b th:text="${chuyenXe.ngayDi}"></b>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b>7h</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center">
							<b th:text="${chuyenXe.gia}"></b><b> VND</b>
						</p>
						<p class="col-md-2 col-sm-2 text-center"></p>
						<p class="col-md-2 col-sm-2 text-center">
							<a type="button" class="cont-btn btn btn-vxr-lg-action"
								th:href="@{/{id}/detail(id=${chuyenXe.id_CX})}"
								style="background-color: orange;"> Đặt vé <i
								class="glyphicon glyphicon-chevron-right f14"></i>
							</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //container -->
	<!-- //banner-bottom -->
	<!-- footer -->
	<div class="footer" th:replace="home/layout :: homefooter"></div>
	<!-- //footer -->
</body>
</html>