<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/layout :: homehead"></head>
<body>
	<!--header-->
	<div class="header" th:replace="home/layout :: homeheader"></div>
	<!--//header-->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="faqs-top-grids">
				<div class="product-grids">
					<div class="col-sm-1 product-left"></div>
					<div class="col-md-10 product-right">
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img p-right-img1">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img p-right-img2">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img p-right-img3">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img p-right-img1">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="p-left">
									<div class="p-right-img p-right-img2">
										<a href="p-single.html"> </a>
									</div>
								</div>
								<div class="p-right">
									<div class="col-md-4 p-right-left"></div>
									<div class="col-md-8 p-right-right">
										<a href="p-single.html">Lorem ipsum dolor sit amet</a>
										<p>Vestibulum molestie id orci eget vulputate</p>
										<p class="p-call">+1 234 567 890</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="product-right-grids">
							<div class="row text-center">

								<div class="col-lg-12">
									<ul class="pagination">
										<li><a href="#">«</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">»</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-sm-1 product-left"></div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-top-grids">
				<div class="footer-grids">
					<div class="col-md-3 footer-grid">
						<h4>Mạng lưới nhà xe</h4>
						<ul>
							<li><a href="index.html">Xe Anh Quốc</a></li>
							<li><a href="flights-hotels.html">Xe Cô Tô Limousine</a></li>
							<li><a href="index.html">Xe Daily Limousine</a></li>
							<li><a href="hotels.html">Xe Dream Transport</a></li>
							<li><a href="bus.html">Xe G5Car</a></li>
							<li><a href="index.html">Xe HAV Limousine</a></li>
							<li><a href="holidays.html">Xe Hoa Mai</a></li>
							<li><a href="hotels.html">Xe Phong Phú</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>Bến xe</h4>
						<ul>
							<li><a href="about.html">Bến xe Gia Lâm</a></li>
							<li><a href="faqs.html">Bến xe Giap Bát</a></li>
							<li><a href="privacy.html">Bến xe Miền Đông </a></li>
							<li><a href="contact.html">Bến xe Mỹ Đình</a></li>
							<li><a href="blog.html">Bến xe trung tâm Đà Nẵng</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>Về chúng tôi</h4>
						<ul>
							<li><a href="holidays.html">Tuyển dụng</a></li>
							<li><a href="weekend.html">Tin tức</a></li>
							<li><a href="index.html">Giới thiệu</a></li>
							<li><a href="index.html">Liên hệ</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- news-letter -->
				<div class="news-letter">
					<div class="news-letter-grids">
						<div class="col-md-4 news-letter-grid">
							<p>
								Toll Free No : <span>1234-5678-901</span>
							</p>
						</div>
						<div class="col-md-4 news-letter-grid">
							<p class="mail">
								Email : <a href="mailto:info@example.com">mail@example.com</a>
							</p>
						</div>
						<div class="col-md-4 news-letter-grid">
							<form>
								<input type="text" value="Email" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Email';}">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<!-- news-letter -->
				<div class="news-letter">
					<div class="news-letter-grids">
						<div class="col-md-4 news-letter-grid">
							<p>
								Toll Free No : <span>1234-5678-901</span>
							</p>
						</div>
						<div class="col-md-4 news-letter-grid">
							<p class="mail">
								Email : <a href="mailto:info@example.com">mail@example.com</a>
							</p>
						</div>
						<div class="col-md-4 news-letter-grid">
							<form>
								<input type="text" value="Email" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Email';}"
									required=""> <input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //news-letter -->
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- footer -->
	<div class="header" th:replace="home/layout :: homefooter"></div>
	<!-- //footer -->
</body>
</html>