<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/layout :: homehead"></head>
<body>
	<!--header-->
	<div class="header" th:replace="home/layout :: homeheader"></div>
	<!--//header-->
	<!-- banner -->
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="col-md-4 banner-left">
				<section class="slider2">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="slider-info">
									<img src="images/1.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="images/2.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="images/3.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="images/4.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="images/2.jpg" alt="">
								</div>
							</li>
						</ul>
					</div>
				</section>
				<!--FlexSlider-->
			</div>
			<div class="col-md-8 banner-right">
				<div class="sap_tabs">
					<div class="booking-info">
						<h2>Tìm kiếm chuyến xe</h2>
					</div>
					<div id="horizontalTab"
						style="display: block; width: 100%; margin: 0px;">
						<!---->
						<div>
							<div>
								<div class="facts">
									<div class="booking-form">
										<!-- Set here the key for your domain in order to hide the watermark on the web server -->
										<div class="online_reservation">
											<div class="b_room">
												<div class="booking_room">
													<div class="reservation">
														<ul>
															<li class="span1_of_1 desti">
																<h5>Đi từ</h5>
																<div class="book_date">
																	<select>
																		<option th:each="thanhpho,iterStat : ${thanhpho}"
																			th:value="${thanhpho.ten}" th:text="${thanhpho.ten}"></option>
																	</select>
																</div>
															</li>
															<li class="span1_of_1 left desti">
																<h5>Đến</h5>
																<div class="book_date">
																	<select>
																		<option th:each="thanhpho,iterStat : ${thanhpho}"
																			th:value="${thanhpho.ten}" th:text="${thanhpho.ten}"></option>
																	</select>
																</div>
															</li>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_1">
																<h5>Ngày đi</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-calendar"
																			aria-hidden="true"></span> <input type="date"
																			value="Select date" onfocus="this.value = '';"
																			onblur="if (this.value == '') {this.value = 'Select date';}">
																	</form>
																</div>
															</li>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_3">
																<div class="date_btn">
																	<form>
																		<input type="submit" value="Search" />
																	</form>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner -->
	<div class="move-text">
		<div class="marquee">
			Xem nhiều chuyến xe hơn. <a href="signup.html">Nhấn vào đây</a>
		</div>
		<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
		<script>
			$('.marquee').marquee({
				pauseOnHover : true
			});
			//@ sourceURL=pen.js
		</script>
	</div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="banner-info">
				<h3>Đặt vé xe khách các tuyến đường phổ biến</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<a href="#" class="active" id="saigon-link">TP.Hồ Chí Minh</a>
								</div>
								<div class="col-xs-3">
									<a href="#" id="hanoi-link">Hà Nội</a>
								</div>
								<div class="col-xs-3">
									<a href="#" id="danang-link">Đà Nẵng</a>
								</div>
								<div class="col-xs-3">
									<a href="#" id="nhatrang-link">Nha Trang</a>
								</div>
							</div>
							<hr>
						</div>
						<div class="panel-body">
							<div class="">
								<form id="saigon-form" action="https://phpoll.com/login/process"
									method="post" role="form" style="display: block;">
									<div class="clearfix">
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-right"><a th:href="@{/chuyenxe2/hcm-hn}"><button type="button"
																class="ui-datepicker-trigger text-center">Tìm
																kiếm</button></a></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Lạt</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Huế</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Mũi Né</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Vũng Tầu</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Khánh Hòa</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Buôn Mê Thuật</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Lạt</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
									</div>
								</form>
								<form id="hanoi-form"
									action="https://phpoll.com/register/process" method="post"
									role="form" style="display: none;">
									<div class="clearfix">
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Sapa</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Lào Cai</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Huế</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Vinh</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hải Phòng</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Thanh Hóa</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Quảng Ninh</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Giang</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
									</div>
								</form>
								<form id="danang-form"
									action="https://phpoll.com/register/process" method="post"
									role="form" style="display: none;">
									<div class="clearfix">
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Thái Bình</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Huế</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Quảng Ngãi</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nghệ An</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Khánh Hòa</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Buôn Mê Thuật</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Lạt</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
									</div>
								</form>
								<form id="nhatrang-form"
									action="https://phpoll.com/register/process" method="post"
									role="form" style="display: none;">
									<div class="clearfix">
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hà Nội</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Lạt</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Hồ Chí Minh</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Nẵng</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Huế</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
										<div class="col-md-6 pl0 pr0">
											<table style="width: 100%;" class="table table-striped">
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Mũi Né</span></a></td>
													<td class="text-right"><a th:href="@{/chuyenxe/hcm-hn}"><button type="button"
																class="ui-datepicker-trigger text-center">Tìm
																kiếm</button></a></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Vũng Tầu</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Khánh Hòa</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Buôn Mê Thuật</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
												<tr>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Nha Trang</span></a></td>
													<td class="text-center"><a
														href="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi-129t1241.html"><span
															class="route">Đà Lạt</span></a></td>
													<td class="text-right"><button type="button"
															class="ui-datepicker-trigger text-center">Tìm
															kiếm</button></td>
												</tr>
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
	<!-- //banner-bottom -->
	<!-- popular-grids -->
	<div class="popular-grids">
		<!-- container -->
		<div class="container">
			<div class="popular-info">
				<h3>Popular Places</h3>
			</div>
			<!-- slider -->
			<div class="slider">
				<div class="arrival-grids">
					<ul id="flexiselDemo1">
						<li><a href="products.html"><img src="images/a3.jpg"
								alt="" /> </a></li>
						<li><a href="products.html"><img src="images/a2.jpg"
								alt="" /> </a></li>
						<li><a href="products.html"><img src="images/a4.jpg"
								alt="" /> </a></li>
						<li><a href="products.html"><img src="images/a1.jpg"
								alt="" /> </a></li>
					</ul>
					<script type="text/javascript">
						$(window).load(function() {
							$("#flexiselDemo1").flexisel({
								visibleItems : 4,
								animationSpeed : 1000,
								autoPlay : true,
								autoPlaySpeed : 3000,
								pauseOnHover : true,
								enableResponsiveBreakpoints : true,
								responsiveBreakpoints : {
									portrait : {
										changePoint : 480,
										visibleItems : 1
									},
									landscape : {
										changePoint : 640,
										visibleItems : 2
									},
									tablet : {
										changePoint : 768,
										visibleItems : 3
									}
								}
							});
						});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
				</div>
			</div>
			<!-- //slider -->
		</div>
		<!-- //container -->
	</div>
	<!-- popular-grids -->
	<!-- footer -->
	<div class="header" th:replace="home/layout :: homefooter"></div>
</body>
</html>