<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/layout :: homehead"></head>
<body>
	<!--header-->
	<div class="header" th:replace="home/layout :: homeheader"></div>
	<!--//header-->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="text-left">
				<a th:href = "@{/}">Trở lại trang chủ</a>
			</div>
			<div class="text-center">
				<h2 th:text="${thongbao}" style="padding-left: 10px; color: red;"></h2>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- footer -->
	<div class="footer" th:replace="home/layout :: homefooter"></div>
	<!-- //footer -->
</body>
</html>