<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/layout :: homehead"></head>
<body>
	<!--header-->
	<div class="header" th:replace="home/layout :: homeheader"></div>
	<!--//header-->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="faqs-top-grids">
				<div class="product-grids">
					<div class="product-right">
						<div class="product-right-grids">
							<div class="product-right-top">
								<div class="">
									<table class="table table-striped">
										<tr>
											<td class="text-center">Nhà xe</td>
											<td class="text-center">Ga đi</td>
											<td class="text-center">Ga đến</td>
											<td class="text-center">Ngày đi</td>
											<td class="text-center">Giờ đi</td>
											<td class="text-center">Giá</td>
											<td></td>
										</tr>
										<tr style="height: 150px;" th:each="chuyenxe,iterStat : ${chuyenxe}">
											<td class="text-center" style="padding-top: 50px;"><a href="$">Hoàng Long</a></td>
											<td class="text-center" style="padding-top: 50px;"><b th:text = "${chuyenxe.gaDi}"></b></td>
											<td class="text-center" style="padding-top: 50px;"><b th:text = "${chuyenxe.gaDen}"></b></td>
											<td class="text-center" style="padding-top: 50px;"><b th:text = "${chuyenxe.ngayDi}"></b></td>
											<td class="text-center" style="padding-top: 50px;"><b th:text = "${chuyenxe.gioDi}"></b></td>
											<td class="text-center" style="padding-top: 50px;"><b th:text="${chuyenxe.gia}"></b><span> VND</span></td>
											<td class="text-right" style="padding-top: 50px;"><a th:href="@{/{id}/detail(id=${chuyenxe.id_CX})}"><button
														type="button" class="ui-datepicker-trigger text-center">Tìm
														kiếm</button></a></td>
										</tr>
										<tr>
										</tr>
									</table>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- footer -->
	<div class="header" th:replace="home/layout :: homefooter"></div>
	<!-- //footer -->
</body>
</html>